@{
    ViewBag.Title = "Gallery";
    ViewBag.CurrentTab = "Gallery";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1" id="gallery-wrapper">
        <a class="" href="https://unsplash.it/1200/768.jpg?image=251" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/300/300.jpg?image=251" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=0" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/200/300/?image=0" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=53" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/300/300/?image=53" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?random" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/200/300/?random" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=54" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/300/300/?image=54" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=55" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/200/300/?image=55" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=56" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/200/300/?image=56" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=57" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/500/300/?image=57" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=66" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/200/300/?image=66" alt="" />
        </a>
        <a class="" href="https://unsplash.it/1200/768/?image=76" data-lightbox="photos-set"
           data-title="">
            <img class="" src="https://unsplash.it/200/300/?image=76" alt="" />
        </a>
    </div>
</div>

@section Scripts{
    <script src="~/lib/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="~/js/site.js"></script>
}