@{
    ViewBag.Title = "Martin Kontilov";
    ViewBag.CurrentTab = "Home";
}

<div class="row" id="index-wrapper">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h2 class="">Profile</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <hr class="divider" />

        <h1 class="">Work Experience</h1>
        <h2 class="text-danger">2016 - present</h2>
        <p class="">
            <ul class="list-group">
                <li class="list-group-item">Blah Blah</li>
                <li class="list-group-item">Another blah</li>
            </ul>
        </p>
        <h2 class="text-danger">2014 - 2016</h2>
        <p class="">
            <ul class="list-group">
                <li class="list-group-item">Blah Blah</li>
                <li class="list-group-item">Another blah</li>
            </ul>
        </p>
        <h2 class="text-danger">2013</h2>
        <p class="">
            <ul class="list-group">
                <li class="list-group-item">Blah Blah</li>
                <li class="list-group-item">Another blah</li>
            </ul>
        </p>
        <hr class="divider" />

        <h1 class="">Education</h1>
        <h2 class="text-danger">
            Information Technologies <br />
            New Bulgarian University (2014 - present)
        </h2>
        <hr class="divider" />

        <h1 class="">Computer Skills</h1>

        <hr class="divider" />

    </div>
</div>